body{
    padding: 0;
    margin: 0;
}
.Section1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/47122.png);
    height:1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Section10{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/252.jpg);
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.Section15{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../Images/2734757.png);
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.Section13{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../Images/illustration-map-world-with-flags-all-countries_37674-7.png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}